@charset "UTF-8";

html{   /*フォントサイズ100%指定。ユーザーがブラウザで設定したフォントサイズが正しく反映される*/
    font-size: 100%;
}

body{
    color: #383e45;
    font-size: 0.9rem;
}

a{
    text-decoration: none;
}

img{    /*画像が画面横幅からはみ出るのを防ぐためにmaxサイズ設定*/
    max-width: 100%;
}

li{
    list-style: none;
}

.site-title{    /*h1タグ用のクラス*/
    width: 120px;
    line-height: 1px;   /*h1タグ上下の余白消してロゴ画像の高さと揃うよう指定*/
    padding: 10px 0;
}

.site-title a { /*display:block;を設定し、aタグのリンク範囲を親要素サイズいっぱいに広げる*/
    display: block;
}

.section-title{ /*各セクションの見出し用(h2タグ)のクラス。各セクションの見出しは同じでこのクラスを共通で使う*/
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}

.content-title{ /*チームの軌跡内の各コンテンツのタイトル用(h3タグ)のクラス*/
    font-size: 1rem;
    margin: 10px 0;
}

.wrapper{   /*画面最大幅指定*/
    max-width: 960px;
    margin: 0 auto 100px auto;  /*中央に配置*/
    padding: 0 4%;  /*両サイドの内側に4%の余白*/
    text-align: center;
}


/*===================ヘッダー===================*/
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#header ul{
    display: flex;
    padding: 10px 0;
}

#header li{
    margin-left: 30px
}

#header li a{
    color: #dd0d0d;
}

#header li a:hover{
    opacity: 0.7;
}


/*===================メインビジュアル===================*/
#mainvisual{
    margin-bottom: 80px;
}

#mainvisual img{    /*メイン画像(ARTA main)を横幅の最大サイズに指定。*/
    width: 100%;
    max-width: 1920px;
    height: 1044px; /*高さ最大指定(画像に合わせてる)*/
    object-fit: cover;  /*画像の高さ固定表示*/
}


/*===================About(マシン紹介の所)===================*/
#about .content{    
    display: flex;  /*画像とテキストを横並び*/
    justify-content: center;    /*中央配置*/
    align-items: center;    /*高さの中心で並ぶ様にする*/
}

#about img{ /*画像の横と縦のサイズを指定*/
    width: 100px;
    height: 100px;
    border-radius: 50%; /*画像を丸く切り取る*/
    margin-right: 30px;
}

#about .text{   /*文字や画像に対し水平方向の配置を指定*/
    text-align: left;
}


/*===================#Bicycle(チームの軌跡の所)===================*/
#bicycle ul{    
    display: flex;  /*横並び*/
    justify-content: space-between; /*両端揃え*/
}

#bicycle li{   
    width: 32%; /*画像の横幅設定*/
    /*width: 100%; スマホだと100%で指定*/
}

p{
    text-align:left;    /*p内の文字を左寄せ*/
}


/*===================footer===================*/
#footer{
    font-size: 0.5rem;  /*フォントサイズ*/
    padding: 10px 0;    /*余白*/
    text-align: center; /*中央寄席*/
}

/*sp*/
@media screen and(max-width: 600px){    /*ブレイクポイント設定。*/
    /*mainvisual*/
    #mainvisual img{
        height:calc(100vh - 60px);
    }

    /*about*/
    #about .content{
        flex-direction: column; /*スマホだと画像を縦に並べる指定方法*/
    }

    #about img{
        margin-right: 0;
    }

    /*Bicycle*/
    #bicycle ul{
        flex-direction: column;
    }

    #bicycle li{
        width: 100%;    /*スマホだと100%で指定*/
        margin-bottom: 30px;
    }
}
