@charset "UTF-8";

html{   /*ユーザーがブラウザで設定したフォントサイズを正しく反映*/
    font-size: 100%;
}

body{   /*文字色を指定*/
    color: #0a0a0a;
    padding: 2rem;
    transition: 0.5s;
}

a{      /*サイト内のリンクの下線非表示*/
    text-decoration: none;
}

img{    /*画像が画面横幅からはみ出るのを防止*/
    max-width: 100%;
}

li{     /*リストに対しマーカーを付けない*/
    list-style: none;
}

.wrapper{   /*コンテンツ最大幅、マージン指定の共通クラス*/
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

.site-title{    /*ヘッダーclassのh1タグ用クラス。ロゴに設定*/
    line-height: 1px;
}

.sec-title{    /*h2タグ用。各セッションの見出しで使用*/
    font-size: 1.5rem;
    text-align: center; /*文字を中央に寄せる*/
    margin-bottom: 25px;
}

.blank{ /*担当ボタンロゴ内全体の幅指定*/
    width:865px;
    margin:0 auto;
}

.in-charge{     /*担当者ボタンロゴの装飾*/
    font-size: 1.0rem;
    margin-bottom: 50px;
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    border: solid 3px currentColor; /*ボーダーのデザインを指定*/
    border-radius: 6px; /*ボタンの角を少しだけ丸める*/
    background-color: #0313ef;
    color: #fff;
}

/*ヘッダー*/
#header{
    max-width: 960px;
    display: flex;  /*要素を横並び*/
    justify-content: space-between; /*両端に配置*/
    align-items: center;    /*ロゴの高さを中央揃え*/
    height: 270px;
    margin: 0 auto;
    padding: 0 4%;
}

#header ul{ /*ヘッダー内のナビ文字設定*/
    display: flex;
    padding: 10px 0;
}

#header li{ /*ヘッダー内のナビ文字装飾*/
    font-size: 0.9rem;
    margin-left: 50px;
    display: inline-block;  /*要素を横に並ばせる*/
    padding: 5px;
    border: solid 3px currentColor; /*ボーダーのデザインを指定*/
    border-radius: 6px; /*ボタンの角を少しだけ丸める*/
    background-color: #83ee86;
    color: rgb(36, 14, 232);
}

#header li a{
    color: #141617;
}

#header li a:hover{
    opacity: 0.7;
}

.Dark{  /*ダークモードボタンのwindow幅設定*/
    width:865px;
    margin:0 auto;
}


.dark-theme{    /*ダークモード背景設定*/
    background: #000;
    color: #ddd;
}

#btn{   /*ダークボタン装飾*/
    background: #0bd;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 8px;
    border: 0;
    cursor: pointer;    /*入力位置を示すカーソルのひとつで、マウス操作に対応する、矢印の形をしたアイコン*/
}

/*お知らせ*/
#wrapper{
    display: block;
    width: 100%;
    text-align: center;
    margin: 30px auto;
}

#ticKer{
    border-radius: 20px;    /*角丸ボーダー*/
    width: 500px;   /*横幅*/
    background: #f3f3f3;    /*背景色*/
    position: relative; /*相対配置*/
    overflow: hidden; /*はみ出た部分を非表示*/
    margin: 0 auto;
}

#ticKer ul{
    padding: 0; /*内側余白*/
    margin: 0 auto;
}

#ticKer li{
    list-style-type: none;  /*リストマーク無し*/
    line-height: 2.5em;
    padding-left: 25px;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}

/*MainVisual*/
#mainvisual{
    margin-bottom: 100px;
}

#mainvisual img{    /*メイン画像横幅最大指定*/
    width: 100%;
    max-width: 865px;
    height: 399px;
    object-fit:cover;   /*画像の縦横比を保ちつつトリミング*/
    margin: auto;
    display: block;
}

/*修理実績*/
#repair ul{
    display: flex;  /*横並び*/
    justify-content: space-between; /*両端揃え*/
}

#repair li{ /*画像横幅設定*/
    width: 32%;
}

/*修理イメージセクション*/
#image ul{
    display: flex;  /*横並び*/
    justify-content: space-between; /*両端揃え*/
}

#image li{ /*画像横幅設定*/
    width: 32%;
}





/*お問い合わせ*/
#contact dl{
    display: flex; /*フォーム内のラベル(dt)と入力フィールド(dd)を横並び*/
    flex-wrap: wrap;    /*dtとddの横幅が100%になったら折り返し*/
    margin-bottom: 20px;
}

#contact dt{    /*ラベル幅設定*/
    width: 15%;
}

#contact dd{
    width: 85%;
    margin-bottom: 20px;
    background-color:#fff;  /*背景カラーを入れてダークモードにしても見える様にする*/
}

#contact dd input,
#contact dd textarea{
    width: 100%;  /*入力枠内の幅設定*/
    border: solid 1px #0a0a0a;  /*入力枠内を作る*/
}

#contact .button input{
    width: 100%;    /*送信ボタンの横幅設定*/
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
}

#contact .button input:hover{   /*ボタンをマウスオーバーした際の背景とテキストカラー設定*/
    background: rgb(241, 241, 241);
    color: #24292e
}

/*地図*/
.location iframe{
    width: 100%;
    height: 400px;
    vertical-align: bottom; /*地図の下に入る小さな余白削除*/
}

/*フッター*/
#footer{
    background-color: #24292e;
    color: #fff;
    font-size: 1.0rem;
    padding:  20px; /*要素枠内の余白設定*/
    text-align: center;
}

/*sp(スマホ画面に切り替えた時の設定)*/
@media screen and (max-width: 600px){
    .wrapper{
        margin-bottom: 70px;
    }

    .site-title{
        margin-top: 20px; 
    }

    .sec-title{
        margin-bottom: 15px;
    }

    .in-charge{
        margin-bottom: 15px;
    }

    /*header*/
    #header{
        max-width: 100%;
        height: auto;
        flex-direction: column; /*ヘッダー要素が主軸に沿って上から下へ配置*/
    }
    
    #header li{ /*ヘッダーnav内の文字を整える*/
        font-size: 0.8rem;
        margin-left: 20px;
    }

    #header li:first-child{ /*スマホでのグローバルナビケーションの左側に余白が出来ない様margin-leftをゼロに設定*/
        margin-left: 0;
    }

    /*ダークモードボタン*/
    #btn{
        margin-left: 10px;
    }

    /*修理欄*/
    #repair ul{ /*縦に並び変え*/
        flex-direction: column;
    }
    #repair li{ /*縦になった時、幅全体を使って表示*/
        width: 100%;
    }

    /*修理イメージ欄*/
    #image ul{
        flex-direction: column;
    }

    #image li{
        width: 100%;
    }

    /*お問い合わせ欄*/
    #contact dl{
        flex-direction: column;
    }

    #contact dt{
        width: 100%;
    }

    #contact dd{
        width: 100%;
    }

}
